 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 50%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        zoom: 96%;
      }
      table {
        font-size: 12px;
      }
      #map {
        width: 100%;
        position: absolute;
        width: 1600px;
        height: 521px;
        display: inline-block;
    }
      #listing {
        
        width: 200px;
        height: 470px;
        overflow: auto;
        left: 600px;
        top: 0px;
        cursor: pointer;
        overflow-x: hidden;

      }
      #findparks {
        position: absolute;
        text-align: right;
        width: 100px;
        font-size: 14px;
        padding: 4px;
        z-index: 5;
        background-color: #fff;
      }
      #locationField {
        background-color: #fff;
        position: absolute;
        width: 248px;
        height: 66px;
        left: 412px;
        top: 250px;
        border-radius: 35px;
      }
      #controls {
        position: absolute;
        left: 300px;
        width: 140px;
        top: 0px;
        z-index: 5;
        background-color: #fff;
        left: 820px;
        top: 250px;
        width: 323px;
        border-radius: 35px;
      }
      #autocomplete {
        width: 100%;
        height: 66px;
        top: 250px;
        font-size: 30px;
        border: 3px solid #FBAE3B;
        border-radius: 35px; 
      }
      #country {
        width: 323px;
        height: 74px;
        left: 639px;
        top: 250px;
        font-size: 30px;
        background: #FFFFFF;
        border: 3px solid #FBAE3B;
        text-align: center;
        border-radius: 35px;
      }
      .placeIcon {
        width: 20px;
        height: 34px;
        margin: 4px;
      }
      .hotelIcon {
        width: 24px;
        height: 24px;
      }
      #resultsTable {
        border-collapse: collapse;
        width: 240px;
        text-align: left;
        left: 500px;
      }
      #rating {
        font-size: 13px;
        font-family: Arial Unicode MS;
      }
      .iw_table_row {
        height: 18px;
      }
      .iw_attribute_name {
        font-weight: bold;
        text-align: left;
      }
      .iw_table_icon {
        text-align: left;
      }

      #first-area{
        background-color: #1A154C;
        color: white;
        height: 379px;
        width: 1600px;
        text-align: center;  
      }
      #openingHoursContent{
      left: 50px;
      }

      #description{
        font-size: 36px;
        font-family: roboto;
      }

      #iw-address{
        text-align: left;
      }

      #iw-phone{
        text-align: left;
      }